@page "/producto/{id}"
@using DemoBlazorMovil.Models
@using DemoBlazorMovil.Services
@inject NavigationManager navigationManager
@inject ProductoService productoService

<h3>
    @if (id == "0")
    {
        <span>Crear Producto</span>
    }
    else
    {
        <span>Editar Producto</span>
    }
</h3>

<EditForm OnValidSubmit="@Grabar" Model="@producto">
    <div class="mt-3">
        <InputText @bind-Value="producto.Nombre" placeholder="Nombre" />
    </div>
    <div class="mt-3">
        <InputNumber @bind-Value="producto.Precio" placeholder="Precio" />
    </div>
    <div class="mt-3">
        <InputText @bind-Value="producto.Descripcion" placeholder="Descripcion" />
    </div>
    <div class="mt-3">
        <InputNumber @bind-Value="producto.Stock" placeholder="Stock" />
    </div>
    <div class="mt-3">
        <img src="@producto.Imagen" alt="Imagen del producto" style="width: 100px; height: 100px;" />
    </div>
</EditForm>


<div class="text-center mt-3">
    <button class="btn btn-primary" @onclick="Volver">Cancelar</button>
    <button class="btn btn-success" @onclick="Grabar">Grabar</button>
</div>


@code {
    [Parameter]
    public string id { get; set; }

    public Producto producto { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (int.Parse(id) == 0)
            {
                producto = new Producto();
            }
            else
            {
                producto = await productoService.GetProductoByIdAsync(int.Parse(id));
            }
        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
        }        
    }

    public void Volver()
    {
        // Navegar a la página de edición del producto
        navigationManager.NavigateTo($"/productos");
    }

    public async Task Grabar()
    {
        //productoService.AddProducto(producto);
        navigationManager.NavigateTo("/productos");
    }
}
